/* GENERAL STYLES */
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	font-size: 18px;
	line-height: 1.3em; 
}

.container{
	margin: 0 auto;
	width: 960px;
}

/* HEADER */
.header{
	padding: 1px 0;
	background-color: white; 
}
.header h1 {
	font-size: 100%;
	color: blue;
	margin: 7px 15px 7px 380px;
}
.header h2{
	color: #ffe647;
	text-align: center;
}
.image-language {
	float: right;
	margin: -4px 3px;
}
/* NAVIGATION */
.page-navigation{
	background-color: #4169E1;
	border-color: #101010;
	min-height: 64px;
}

.page-navigation li{
	float: left;
	width: 150px;
}

.page-navigation a{
	display: block;
	color: #ffe647;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.page-navigation li a:hover{ /* спрацює при наведенні курсора миші */
	color: #122a5e;
	background-color: #E8E8E8;
}

.page-navigation img {
	float: left;
	margin: 12px auto;
}

.image-admin {
	float: right;
	margin-top:13px;
}

.image-admin2 {
	float: right;
}

/* LOGIN FORM */
.account{
	padding: 15px 0;
	float: right;

}
.account input[type="text"]{
	padding: 7px 0;
	margin-right: 3px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background-color: #4169E1;
}

/* MAIN PART */
.collections{
	overflow: auto;
}

.collection-title{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-title small{
	color: #777;
	font-size: 40%;
}

/* FOOTER */
.footer {
	background-color: #4169E1;
	color: #ffe647;
	padding: 10px 0;
	margin-top: 30px;
}





