
/*CHECKBOX3*/

.containerCheckBox4 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-left: 70px;
  width: 200px;
  cursor:pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBox4 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerCheckBox4:hover input ~ .checkmark4 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerCheckBox4 input:checked ~ .checkmark4 {
    background-color: #4169E1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerCheckBox4 input:checked ~ .checkmark4:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerCheckBox4 .checkmark4:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffe647;
}