/* GENERAL STYLES */
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	font-size: 18px;
	line-height: 1.3em; 
}

.container{
	margin: 0 auto;
	width: 960px;
}

.container2{
	margin: 0 350px auto;
	width: 600px;
}

/* HEADER */
.header{
	padding: 1px 0;
	background-color: white; 
}
.header h1 {
	font-size: 100%;
	color: blue;
	margin: 7px 15px 7px 380px;
}
.header h2{
	color: #ffe647;
	text-align: center;
}
.image-language {
	float: right;
	margin: -4px 3px;
}
/* NAVIGATION */
.page-navigation{
	background-color: #4169E1;
	border-color: #101010;
	min-height: 64px;
}

.page-navigation li{
	float: left;
	width: 150px;
}

.collection-title-h3{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
}

.page-navigation a{
	display: block;
	color: #ffe647;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.page-navigation li a:hover{ /* спрацює при наведенні курсора миші */
	color: #122a5e;
	background-color: #E8E8E8;
}

.page-navigation img {
	float: left;
	margin: 12px auto;
}

.image-admin {
	float: right;
	margin-top:13px;
}

.image-admin2 {
	float: right;
}

/* LOGIN FORM */
.account{
	padding: 15px 0;
	float: right;

}
.account input[type="text"]{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background-color:  #4169E1;
}

/* MAIN PART */
.collections{
	overflow: auto;
}

.collection-title{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-title small{
	color: #777;
	font-size: 40%;
}

.parameters input{
	padding: 6px 23px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	font-size: 16px;
}

.parameters input[type="date"]{
	margin-left: 25px;
	padding: 4px 24px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

.parameters input[type="text"]{
	padding: 6px 68px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

.parameters input[type="submit"]{
	padding: 7px 27px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	border-color: #4169E1;
}

.parameters input[type="submit"]:hover,
button:hover{
	background-color: darkgrey;
	color: #122a5e;
}

.paramUpdate input {
	padding: 6px 18px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	font-size: 16px;
}

.parameters select {
	padding: 5px 58px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	font-size: 16px;
}
	
.paramUpdate input[type="date"]{
	padding: 4px 35px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

.paramUpdate input[type="text"]{
	padding: 6px 20px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

.paramUpdate input[type="submit"]{
	padding: 15px 20px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	border-color: #4169E1;
}

.parameters input[type="submit"]:hover,
button:hover{
	background-color: darkgrey;
	color: #122a5e;
}

.button2 {
  margin-left: 50px;
  padding: 5px 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4169E1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2:hover {background-color: #4242ff}

.button2:active {
  background-color: #ffe647;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parameters textarea {
	padding: 40px 40px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid LightBlue;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: LightBlue;
}



/* FOOTER */
.footer {
	background-color: #4169E1;
	color: #ffe647;
	padding: 10px 0;
	margin-top: 30px;
}