/* GENERAL STYLES */
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	font-size: 18px;
	line-height: 1.3em; 
}

.container{
	margin: 0 auto;
	width: 960px;
}

.container2{
	margin: 0 500px auto;
	width: 800px;
}

/* HEADER */
.header{
	padding: 1px 0;
	background-color: white; 
}
.header h1 {
	font-size: 100%;
	color: blue;
	margin: 7px 15px 7px 380px;
}
.header h2{
	color: #ffe647;
	text-align: center;
}
.image-language {
	float: right;
	margin: -4px 3px;
}
/* NAVIGATION */
.page-navigation{
	background-color: #4169E1;
	border-color: #101010;
	min-height: 64px;
}

.page-navigation li{
	float: left;
	width: 150px;
}

.collection-title-h3{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
}

.page-navigation a{
	display: block;
	color: #ffe647;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.page-navigation li a:hover{ 
	color: #122a5e;
	background-color: #E8E8E8;
}

.page-navigation img {
	float: left;
	margin: 12px auto;
}

.image-admin {
	float: right;
	margin-top:13px;
}

.image-admin2 {
	float: right;
}

/* LOGIN FORM */
.account{
	padding: 15px 0;
	float: right;

}
.account input[type="text"]{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	background-color:  #4169E1;
}

/* MAIN PART */
.collections{
	overflow: auto;
}

.collection-title{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}

.paramUpdate input {
	padding: 6px 18px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	font-size: 16px;
}

.paramUpdate select {
	padding: 6px 58px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	font-size: 16px;
}

.selectFlight select{
	padding: 6px 50px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
	margin: 0 110px;
}

.paramUpdate input[type="submit"]{
	padding: 7px 20px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	border-color: #4169E1;
	margin: 0 150px;
}

.parameters input[type="submit"]:hover,
button:hover{
	background-color: darkgrey;
	color: #122a5e;
}

/* FOOTER */
.footer {
	background-color: #4169E1;
	color: #ffe647;
	padding: 10px 0;
	margin-top: 45px;
}