/*CHECKBOX*/

.containerCheckBox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  width: 300px;
  cursor:pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBox input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerCheckBox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerCheckBox input:checked ~ .checkmark {
    background-color: #4169E1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerCheckBox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerCheckBox .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ffe647;
}

/*CHECKBOX2*/

.containerCheckBox2 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  width: 150px;
  cursor:pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBox2 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerCheckBox2:hover input ~ .checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerCheckBox2 input:checked ~ .checkmark2 {
    background-color: #4169E1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerCheckBox2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerCheckBox2 .checkmark2:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffe647;
}

/*CHECKBOX3*/

.containerCheckBox3 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 70px;
  width: 200px;
  cursor:pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBox3 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerCheckBox3:hover input ~ .checkmark3 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerCheckBox3 input:checked ~ .checkmark3 {
    background-color: #4169E1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerCheckBox3 input:checked ~ .checkmark3:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerCheckBox3 .checkmark3:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffe647;
}