/* GENERAL STYLES */
body{
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
p{
	font-size: 18px;
	line-height: 1.3em; 
}

.container{
	margin: 0 auto;
	width: 960px;
}

/* HEADER */
.header{
	padding: 1px 0;
	background-color: white; 
}
.header h1 {
	font-size: 100%;
	color: blue;
	margin: 7px 15px 7px 380px;
}
.header h2{
	color: #ffe647;
	text-align: center;
}
.image-lang {
	float: right;
	margin: -4px 3px;
}
/* NAVIGATION */
.page-navigation{
	background-color: #4169E1;
	border-color: #101010;
	min-height: 64px;
}

.page-navigation li{
	float: left;
	width: 125px;
}

.page-navigation a{
	display: block;
	color: #ffe647;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.page-navigation li a:hover{ /* спрацює при наведенні курсора миші */
	color: #122a5e;
	background-color: #E8E8E8;
}

.page-navigation img {
	float: left;
	margin: 12px auto;
}

.image-admin {
	float: right;
}


/* MAIN PART */
.collections{
	overflow: auto;
}

.collection-title{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-title small{
	color: #777;
	font-size: 40%;
}

.parameters input{
	padding: 5px 23px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	
	border: 1px solid transparent;
  	background-color: #f1f1f1;
  	padding: 10px;
  	font-size: 16px;
  	border-color: #4169E1;
}

.parameters input[type="date"]{
	padding: 6.6px 24px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #4169E1;
	outline: none;
}

.parameters input[type="submit"]{
	padding: 7px 27px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	border-color: #4169E1;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.parameters input[type="submit"]:hover,
button:hover{
	background-color: darkgrey;
	color: #122a5e;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid LightBlue;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: LightBlue;
}

/* FOOTER */
.footer {
	background-color: #4169E1;
	color: #ffe647;
	padding: 10px 0;
	margin-top: 30px;
}





